.headerbody {
  background-color: white;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-size: 35px;
}

.headerbody span {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

@media (max-width: 750px) {
  h1 {
    font-size: 25px;
    padding-top: 0px;
  }
  .headerbody span {
    font-size: 20px;
    padding-bottom: 3px;
  }

  .headerbody {
    height: auto;
  }
}
